body{
    width: 100%;
    height: max-content;
    background-color: #F5F5F5;
    margin: 0;
    font-family: Montserrat,'Open Sans',sans-serif;
}

.Main_screen{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.Left_menu_items{
    width: 15%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #272343;
}

.Left_menu_items_container{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.Left_menu_item{
    width: 100%;
    height: 200px;
    margin:20px auto;
    display: flex;
    flex-direction: row;
    border:0px #F5F5F5 solid;
    border-radius: 5%;
    text-align: center;
    justify-content: left ;
}

.Left_menu_item img {
    width: 30px;
    height: 30px;
    margin: auto 0 auto 0;
}

.Left_menu_item p{
    vertical-align: baseline;
    margin: auto 10px auto 10px;
    justify-content: center;
    display: flex;
    text-align: center;
    color: white;
    font-size: 18px;
}

.Work_zone{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.Work_zone_header{
    width: 100%;
    height: 200px;
    background-color: #DCDCDC;
    display: flex;
    justify-content: left;
    text-align: center;
    flex-direction: row;
}

.Work_zone_header_Text{
    margin: auto 0 auto 50px;
    font-size: 32px;
    width: 30%;
    text-align: left;
}

.inner_pages{
    width: 60%;
    margin: auto 20% auto auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inner_page{
    width: 30%;
    height: 50px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: darkgray;
    border-radius: 5px;
    color: white;
}

.ToProfile{
    width: max-content;
    height: max-content;
    margin: 40px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.ToProfile img{
    width: 100px;
    height: 100px;
    margin: auto;
}

.MyPage_topBlock{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
}

.MyPage_topBlock_leftSide{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.Profile_image_and_Name{
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.Profile_image{
    width: 300px;
    height: 375px;
    margin: auto;
}

.MyPage_topBlock_rightSide{
    width: 70%;
    height: 100%;
}

.Profile_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}